<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>

  </head>
  <body class="container">

    <header>
        <% include ../partials/header %>
    </header>
    
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4 mt-5">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          <h1 class="h2">Reports</h1>
          <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#reportsModal">Add Report  </button>
        </div>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">ShowRoom Id</th>
                <th scope="col">ShowRoom Name</th>
                <th scope="col">Address</th>
                <th scope="col">Sales</th>
                <th scope="col">Rating</th>
              </tr>
            </thead>
            <tbody>
              <% reports.forEach(function(rep){ %>
                <tr>
                  <th scope="row"><%= rep.sid %></th>
                  <td><%= rep.sname %></td>
                  <td><%= rep.address %></td>
                  <td><%= rep.sales %></td>
                  <td><%= rep.rate %></td>
                </tr>
                
              <% })%>
            </tbody>
          </table>
        
  
      </main>

    <!-- Modal -->
<div class="modal fade" id="reportsModal" tabindex="-1" role="dialog" aria-labelledby="reportsModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="reportsModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form  method="POST" action="/reports/add">
          <div class="form-row">
            <div class="col-md-8 mb-3">
              <label for="validationDefault01">Showroom-Id</label>
              <input type="text" class="form-control" id="validationDefault01" placeholder="Showroom Id" name="sid" required>
            </div>
          </div>
          <div class="form-row">
            <div class="col-md-8 mb-3">
              <label for="validationDefault01">ShowRoom name</label>
              <input type="text" class="form-control" id="validationDefault01" placeholder="First name" name="sname" required>
            </div>
            
        </div>
          
        <div class="form-row">
          <div class="col-md-8 mb-3">
            <label for="validationDefault01">Address</label>
            <textarea type="text" class="form-control" id="validationDefault01" placeholder="Address" name="address" required rows="3"></textarea>
          </div>     
      </div>
      <div class="form-row">
        <div class="col-md-8 mb-3">
          <label for="validationDefault02">Sales</label>
          <input type="text" class="form-control" id="validationDefault02" placeholder="Total Sales" name="sales" required>
        </div>
        </div>
        <div class="form-row">
          <div class="col-md-8 mb-3">
            <label for="validationDefault02">Rating</label>
            <input type="text" class="form-control" id="validationDefault02" placeholder="Out Of 5" name="rate" required>
          </div>
          </div>

        <button class="btn btn-primary" type="submit">Submit Record</button>
      </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
         
    

    
    <footer>
        <%  include ../partials/footer %>
        <script>
          $('#reports-nav').addClass('active');
        </script>
    </footer>
    
</body>
</html>
